<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614955579913-ut3q0o93gp4atua3jenre6ug2gk2olrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614955579913-ut3q0o93gp4atua3jenre6ug2gk2olrh</string>
	<key>API_KEY</key>
	<string>AIzaSyDsuS138j22rQDWT645YQrgTzGnboDyJY4</string>
	<key>GCM_SENDER_ID</key>
	<string>614955579913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>saude-digital-14b47</string>
	<key>STORAGE_BUCKET</key>
	<string>saude-digital-14b47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614955579913:ios:9148862121d9bcc61f16d8</string>
	<key>DATABASE_URL</key>
	<string>https://saude-digital-14b47-default-rtdb.firebaseio.com</string>
</dict>
</plist>